*{
    font-family:Garamond, serif;
    margin-top: 0;
    
}

body{
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-size: 100% 100%;
    background-image: url('backgound.jpg');
}

header{
    position: sticky;
}
nav {
    /*background-color: rgb(104, 124, 104);*/
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    
  }
  
  nav a {
    text-decoration: none;
    color:white;
    font-weight: bold;
  }

  nav a:hover {
    background-color: #6a986d;
    width: 120%;
  }
#destination{
    border: none;
    border-radius: 10px;
    align-content: center;
}

button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #6a986d;
  }

  .container1{
    padding-left: 20px;
    margin-left: 50px;
    width: 50%;
    display: flex ;
    flex-direction: column;
  }
  .container1a{
    width: 50%;
    font-weight: 300;
    font: bolder;
    color: white;
  }
.container1b{
    width: 50%;
    color: white;
    font: bolder;
  }

.container1c{
    width: 15%;
    font-size: small;
    padding: 0;
  }
  
  .material-icons{
    font-weight: lighter;
    color: whitesmoke;

  }

  aside{
    padding: 0;
    margin: 0;
    background-image: none;
  }
  aside ul {
    
    list-style-type: none;
    /* padding: 0; */
  }


.fa {
    padding: 5px 5px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 2px;
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-instagram {
    background: #125688;
    color: white;
  }


/* about.html */
.container2{
    padding-left: 30px;
    margin: 60px;
    width: 80%;
  }

.contact{
    position: absolute;
    right: 0px;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}